body {
  font-size: 14px;
  line-height: 1.6;
  font-family: 'Fira Sans', sans-serif;
  color: #2E2D33;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.logo {
  margin: 0;
  padding: 0 0.5em;
  display: inline-block;
  color: #333;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
  font-size: 77px;
  font-family: 'Pavanam', sans-serif;
  float: left;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  border-bottom-color: #f1f1f1;
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
}

/* Float the list items side by side */
ul.topnav li {

}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: grey;
    /*text-align: center;*/
    margin-top: 2.3rem;
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
    float: right;
    background-color: lightgreen;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
  color: black;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
  display: none;
}

i.fa {
    font-size: 1.4rem;
}

@media screen and (min-width: 400px) and (max-width: 711px){
    ul.topnav li a {
      display: none;
    }
    .logo {
      font-size: 47px;
      margin-left: 2em;
      color: black;
    }

    ul.topnav {
      border-bottom-color: lightgreen;
      border-bottom-style: solid;
      border-bottom-width: 0.1px;
    }
}
